*{
    margin: 0;
    padding: 0;
    /*Permite suavizar el scroll (al bajar la pagina)*/
    scroll-behavior: smooth;
}

body{
    background-color: #f5f0f0;
    font-family:'Times New Roman', Times, serif;

}

header{
    /*Me permite organizar el contenido*/
    display: flex;

    /*Para organizar la informacion de manera horizontal*/
    justify-content: space-around;

    /*Para organizar la informacion de manera vertical*/
    align-items: center;

    background-color: #ffffff4d;

    /*Aumentar el alto de nuestro contenedor*/
    height: 80px ;

    /*Aumenta el tamaño del contenedor de adentro hacia afuera*/
    padding: 0 20px ;

    
}

ul{
    display: flex;

    /*Aplia la separacion de los contenidos del contenedor*/
    gap: 25px;
    
}

li{
    /*Quita decoracion de la lista*/
    list-style: none;
}

a{
    /*Quita decoracion de texto*/
    text-decoration: none;
    color: black;
}

/*Propiedades cuando se pasa el mouse encima */
a:hover{
    /*transicion de cualquier tipo, por tiempo y tipo de transiciones */
    transition: all ease 0.2s;
    color: blue;
}

/*.Nombre para llamar a una clase */
.container{
    height: 80vh;
    color: #c71c1c;
}

.imagenes1{
    display: flex;
}